.legende-logo {
    position: absolute;
   
    margin-top: 29%;
    font-size: 1vw;
    color: ghostwhite;
    margin-left: 67%;
    padding: 1%;
    padding-left: 2% ;
    width: 18%;
    height: auto;
   
    z-index: 1;
}


.content-container {
    background: linear-gradient(to right, #000000, #444444, #000000);
    border-radius: 50px;
    padding: 10%; 
    padding-bottom: 130%;
    margin-left: 3%; 
    margin-right: 3%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
   border: 0.25vw solid orange;

    animation: colorBorder infinite 4s;
    position: relative;
}

.content-container {
    position: relative;
}


.logo-reseaux {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 20%;
    max-height: 250px;
    object-fit: cover;
    z-index: 1; /*plan 1*/
}



.logo-forest{

    position: absolute;
    margin-top : 35%;
    right: 27%;
    width: 12%;
    height: auto;
   
    border-radius: 15px;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9); /* Ajout de l'effet d'ombrage */
}


.volcan{

    position: absolute;
    margin-top : 36%;
    right: 6%;
    width: 19%;
    height: auto;
   
    border-radius: 15px;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9); /* Ajout de l'effet d'ombrage */
}


.logo-tresor {
    position: absolute;
    top: 45%; 
    right: 16%; 
    width: 6%;
    z-index: 1; /*plan 1*/
    transform: rotate(10deg);
}
.box-jeu {
    position: absolute;
    margin-top: 7%;
    margin-left: 60%;
    right: 10%;
    width: 29%;
    height: auto;
    padding: 0px;
    border: 0.35vw solid rgba(255, 255, 255, 1.0);
    border-radius: 20px;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9); /* Ajout de l'effet d'ombrage */
   overflow: hidden;
}

.logo-jeu {
    position: relative;
    width: 100%; 
    height: 100%; 
    margin: 0 auto; /* centre horiz */
}





.welcome-box {
    
    left: 7%;
    margin-top: 7%;
    margin-right: 50%;

    padding: 24%;
    position: relative;
    max-width: 492px;
    height: auto;
    background-color: rgba(180, 180, 180, 0.9);
   
    border-radius: 20px;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9);
}



.box-message {
    position: absolute;
    top: 3%;
    left: 2%;
    right: 3%;
    padding: 3%;
    max-width: 200%;
    Font-family: Georgia, Times, Times New Roman, serif;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.3);
    line-height: 2.5vw;
    font-size: 1.5vw; /* rend taille du texte reactive à la largeur*/
    color: rgb(20, 20, 20, 1);
    font-weight: bold;
    
}

.box-message {
    margin-top: 20px; 
    text-align: center; 
}

.text-meilbour{

    position: absolute;
    top: 3%;
    left: 2%;
    right: 3%;
    padding: 2%;
    max-width: 200%;
    Font-family: Georgia, Times, Times New Roman, serif;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.3);
    line-height: 2.5vw;
    font-size: 1.5vw; 
    color: rgb(20, 20, 20, 1);
    font-weight: bold;
}

.text-meilbour{

    margin-top: 20px; 
    text-align: center; 

}


/* ----------------------------------------------------------------*/
.art-shadow {
    font-size: 2.2vw;
    font-family:  Copperplate, Copperplate Gothic Light, fantasy;
    word-spacing: 1.3vw;
    font-weight: 700;
    color: rgb(163, 228, 225, 1.0);
    text-shadow: 0.2vw 0.1vw 0px rgb(50, 75, 60, 1.0);
    position: relative;
}

.box-hero {
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    max-width: 60%;
    width: 40%;
    padding: 20px; /* Rembourrage */
    background-size: 20%;
    background-color: rgba(250, 250, 250, 0.4);
    border-radius: 15px; 
    display: flex; 
    align-items: center; 
    justify-content: center; /* proprieté pour centrer le contenu  */
}



.logo-perso{

    position: absolute;
    top :15%;
    left: 110%;
    right: 4%;
    width: 45%;
    height: auto;
    border-radius: 15px;
    box-shadow: -5px 5px 5px rgba(20, 20, 20, 0.9); /* Ajout de l'effet d'ombrage */
    
}

.contour-logo{
    padding: 5px;
    border-radius: 15px;
    border: solid 6px;   
    color: grey; 
}

.email-gif{
    width: 13vw;
    height: auto;
    position: absolute;
    padding: 1%;
    left: 125%;
    margin-top: 28%;
    z-index: 10;

}


.descritpion-hero {
    
    left: 7%;
    margin-top: 9%;
    margin-right: 50%;

    padding: 28%;
    padding-bottom: 18%;
    position: relative;
    max-width: 492px;
    height: auto;
    background-color: rgba(180, 180, 180, 0.9);
   
    border-radius: 20px;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9);
   
}

.logo-runner {
    position: absolute;
    margin-top: 2%;
    left: 9%;
    width: 7%;
    height: auto;
    animation: race-runner 11s linear infinite;
}

.bulle {
    margin-top: -2.5%;
    margin-left: 4.5%;
    position: absolute;
    width: 5%;
    height: auto;
    z-index: 10;
    animation: race-bulle 11s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

@keyframes race-bulle {
    from {
        left: 9%;
    }
    50% {
        left: 55%;
    }
    51% {
    }
    to {
        left: 9%;
    }
}

@keyframes race-runner {
    from {
        left: 9%;
        transform: scaleX(1);
    }
    50% {
        left: 55%;
        transform: scaleX(1);
    }
    51% {
        transform: scaleX(-1);
    }
    to {
        transform: scaleX(-1);
        left: 9%;
    }
}
/* ----------------------------------------------------------------*/


#other h2 {

    color: #333; 

    color: rgb(255, 255, 255, 1.0);

}
/* Texte défilant */
.messagedefilant {
  display: block;
  margin-left: 30%;

 
  padding: 2.5%;
  overflow: hidden;
  position: relative;
  width: 90%;
  max-width: 100px;
  max-height: 300px;
  height: 100px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: linear-gradient(to right, rgba(150, 150, 150, 0.7), rgba(60, 60, 60, 0.3));
}

.messagedefilant {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -137%; 
  margin-left: 35%;
  
  color: white;
  overflow: hidden;
  position: relative;
  width: 150%;
  max-width: 30%;
  height: 5%; 
  max-height: 200px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: linear-gradient(to right, rgba(150, 150, 150, 0.7), rgba(60, 60, 60, 0.3));
}

.messagedefilant div {
  position: absolute;
  min-width: 100%;
}

.messagedefilant div span,
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  font-size: 2.5vw; 
  font-family: Cursive;
  white-space: nowrap;
  margin-top: 0%;
 
  
 
}

.messagedefilant div span {
  animation: defilement 9s infinite linear;
  
}

.messagedefilant div:after {
  position: absolute;
  margin-top: 0%;
  left: 0px;
  content: attr(data-text);
  animation: defilement2 9s infinite linear;
 
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}


@keyframes colorBorder {
    0% {
        border-color: orange;
        background-color: #FFA500; 
   
    }
    25% {
        border-color: yellow;
        background-color: #FFFF00;
        
    }
    50% {
        border-color: lime;
        background-color: #00FF00;
       
    }
    75% {
        border-color: cyan;
        background-color: #00FFFF;
        
    }
    100% {
        border-color: orange;
        background-color: #FFA500;
    
    }
}

@keyframes rotate{


 0% {
        
        transform: rotate(0deg);
    }
    25% {
        
        transform: rotate(90deg);
    }
    50% {
        
        transform: rotate(180deg);
    }
    75% {
        
        transform: rotate(270deg);
    }
    100% {
       
        transform: rotate(360deg);
    }

}

.boule {
    margin-left: -10%;
    margin-right: 10%;
    padding: 1%; 
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 1.0);
}


.social-network {
    width : 5vw;
    height: auto;
    padding-right: 8%;

}



.final-container {
    position: absolute;
    background: linear-gradient(to right, #000000, #444444, #000000);
    border-radius: 2vw;
    padding: 2%;
    padding-left: 11%;
    padding-right: 11%;
    margin: 15%;
    margin-left: 3%;
    margin-right: 3%;
    border: 0.3vw solid orange;
    z-index: 2;
    animation: colorBorder 3s linear infinite; 
    width: 94vw;
    height: auto;
    display: flex;
    justify-content: space-between ;
    
}

.account{

    text-decoration: none;
    color: gold;
    font-size: 1.6vw;
    font-family: fantasy;
}



@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 99999;
    }
    50% {
        opacity: 1;
        z-index: 99999;
    }
    100% {
        opacity: 0;
    }
}

#preloader {
    transform: rotate(5deg); /* Rotation de 5 degrés */
    background: #000 url(media/loading-web.gif) center center no-repeat; /* Centrer l'image et empêcher la répétition */
    background-size: 150vh; /* Ajuster la taille de l'image */
    height: 200vh; /* Augmenter la taille de l'élément préchargeur */
    width: 200%; /* Augmenter la largeur pour couvrir toute la largeur de la fenêtre */
    position: fixed;
    top: -50vh; /* Positionner au-dessus de la fenêtre */
    left: -50%; /* Positionner à gauche */
    z-index: 90000;
    display: flex;
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    animation:  fadeOut 1s 1 normal forwards;
    opacity: 1;
    z-index: -20000;
}

