

.content-container {
    background: linear-gradient(to right, #000000, #444444, #000000);
    border-radius: 50px;
    padding: 10%; /* Utilise une unité relative pour le padding */
    padding-bottom: 130%;
    padding-left: 15%; /* Utilise une unité relative pour le padding-left */
    margin: 3% 0 0;
    margin-left: 3%; /* Utilise une unité relative pour le margin-left */
    margin-right: 3%; /* Utilise une unité relative pour le margin-right */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    position: relative;
}




.gif-container {
  position: absolute;
  margin-left: 100px;
  margin-top: 60px;
  top: -10px; 
  left: 10px;  Alignement à gauche */

}

.gif-container img.gif-image {
  height: 80px; 
}

.logo-reseaux {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 20%;
    max-height: 250px;
    object-fit: cover;
<<<<<<< HEAD
    z-index: 1; /*plan 1*/


}

.welcome-box {
        position: absolute;
        top: 23%;
       
        background: rgba(200, 200, 200, 1);
        padding: 300px;
        left: 29%;
        top: 25%;
        padding-block-start: 600px;
        padding-left: 30%;
        padding-block-end: 500px;
        border-radius: 10px;
        font-size: 2rem;
        color: #333;
        text-align: left;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
        z-index: 0;
    }

   .box-message {
    position: absolute;
    top: 11%;
    left: 8%;
    font-family: 'serif';
    font-size: 227%;
    color: rgb(20, 20, 20, 0.8);
    font-weight: bold; /* Ajoute du gras */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
=======
>>>>>>> 3dd61ae (responsive)
    z-index: 1;
}

.logo-forest{

    position: absolute;
    top : 111%;
    right: 27%;
    width: 12%;
    height: auto;
   
    border-radius: 15px;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9); /* Ajout de l'effet d'ombrage */
}


.volcan{

    position: absolute;
    top : 115%;
    right: 10%;
    width: 15%;
    height: auto;
   
    border-radius: 15px;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9); /* Ajout de l'effet d'ombrage */
}


.logo-tresor {
    position: absolute;
    top: 50%; 
    right: 18%; 
    width: 6%;
    z-index: 1; /*plan 1*/
    transform: rotate(10deg);
}
.box-jeu {
    position: absolute;
    top: 60%;
    right: 10%;
    width: 30%;
    max-width: 492px;
    height: auto;
    border: 8px solid rgba(255, 255, 255, 1.0);
    padding: 0;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9); /* Ajout de l'effet d'ombrage */
}


.logo-jeu {
    position: relative;
    width: 100%; /* Largeur de l'image en pourcentage du conteneur parent */
    height: 100%; /* Hauteur de l'image en pourcentage du conteneur parent */
    object-fit: contain; /* Ajuste la taille de l'image pour tenir à l'intérieur de la boîte */
  /* Permet de centrer l'image verticalement */
    margin: 0 auto; /* Centre horizontalement */
    border-radius: 10px;
}


.welcome-box {
    position: absolute;
    top: 60%;
    right: 43%;
    max-width: 492px;
    height: auto;
    background-color: rgba(180, 180, 180, 0.9);
    padding: 24%;
    border-radius: 20px;
    box-shadow: -20px 20px 20px rgba(20, 20, 20, 0.9);
}



.box-message {
    position: absolute;
    top: 3%;
    left: 2%;
    right: 3%;
    padding: 3%;
    max-width: 200%;
    font-family: 'serif';
    font-size: 1.8vw; /* Utilisation de vw pour rendre la taille du texte réactive à la largeur de la fenêtre */
    color: rgb(20, 20, 20, 1);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.content-container {
    position: relative;
}

.box-message {
    margin-top: 20px; 
    text-align: center; 
}



#other h2 {
<<<<<<< HEAD
    color: #333; 
=======
    color: rgb(255, 255, 255, 1.0); /*couleur du texte */
>>>>>>> 3dd61ae (responsive)
}
/* Texte défilant */
.messagedefilant {
  display: block;
  margin-left: 30%;

 
  padding: 2.5%;
  overflow: hidden;
  position: relative;
  width: 90%;
  max-width: 100px;
  max-height: 300px;
  height: 100px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: linear-gradient(to right, rgba(150, 150, 150, 0.7), rgba(60, 60, 60, 0.3));
}

.messagedefilant {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -137%; /* Ajuste la position en pourcentage de la hauteur de content-container */
 
  overflow: hidden;
  position: relative;
  width: 150%;
  max-width: 30%;
  height: 15%; /* Utilise une unité relative pour la hauteur */
  max-height: 200px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: linear-gradient(to right, rgba(150, 150, 150, 0.7), rgba(60, 60, 60, 0.3));
}

.messagedefilant div {
  position: absolute;
  min-width: 100%;
}

.messagedefilant div span,
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  font-size: 2.5vw; /* Utilise une unité relative pour la taille de police */
  font-family: Cursive;
  white-space: nowrap;
  top: 0px;
  color: #ffffff; /* Ajoutez cette ligne pour définir la couleur du texte en blanc */
}

.messagedefilant div span {
  animation: defilement 9s infinite linear;
}

.messagedefilant div:after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(data-text);
  animation: defilement2 9s infinite linear;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
